table
{
	border: solid;
	border-width: 1px;	
}

th
{
	border: solid;
	border-width: 1px;	
}

td
{
	border: solid;
	margin: 0,0,0,0;
	border-width: 1px;	
}

select.year
{
	width: 156px;
	height: 22px;
}